astroid
brotlipy==0.7.0
certifi==2021.10.8
cffi
charset-normalizer
colorama
cryptography
Django==2.1.5
django-crispy-forms==1.13.0
django-loaddata-stdin==0.1.0
django-pwa==1.0.10
future==0.18.2
gunicorn==20.1.0
idna
isort
lazy-object-proxy 
mccabe==0.6.1
olefile==0.46
packaging==21.3
Pillow 
pycparser
pylint
pyOpenSSL
pyparsing==3.0.6
PySocks
pytz==2021.3
requests
setuptools-scm==6.3.2
six
toml
tomli==1.2.2
typed-ast
typing-extensions
urllib3==1.26.7
win-inet-pton
wincertstore==0.2
wrapt==1.12.1
