astroid
brotlipy==0.7.0
certifi==2021.10.8
cffi
charset-normalizer
colorama
cryptography
Django==2.1.5
django-crispy-forms==1.13.0
django-pwa==1.0.10
idna
isort 
lazy-object-proxy
mccabe==0.6.1
olefile==0.46
Pillow
pycparser
pylint
pyOpenSSL
PySocks
pytz==2021.3
requests
six
toml
typed-ast
typing-extensions
urllib3==1.26.7
win-inet-pton
wincertstore==0.2
wrapt==1.12.1
