body {
	font-size: 18px;
}

.hidden {
    display:none;
}

#my_pet button {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor:pointer;
	overflow:hidden;
	outline:none;
}

#my_pet i {
	font-size: 26px;
}

#greeting, #visitorInfo, #notification
{
	background-color:#F5F5DC;
}

#btns {
	background-color: #FFF5EE;
}
.white-shade {
	background-color: #F3EFAB;
}

#map_canvas { 
	height: 400px;
	width: 80%; 
	margin: 0px; 
	padding: 0px;
}

nav#menu_bar {
    display:block;
}

nav#menu_bar ul li {
	padding-left :20px;
	padding-right:20px;
}

#checkIn{
	width: 30%;
}

#mypark button {
	font-size: 20px;
}

nav#menu_bar ul li a {
	color: #FFFFFF;
	font-size: 16px;
}

#btns div {
	padding: 20px;
}

#sub-menu {
	flex-direction: inherit;
}

nav#menu_bar ul li a:hover, #btns a:hover{
	color: #0a2351;
	height: inherit;
	width: inherit;
	text-decoration: none;
}

nav#menu_bar div {
	height: inherit;
}

#map {
	padding: 2em;
}

#greeting, #notification {
	padding: 0.5em;
}

#menu_basic a {
	text-decoration: none;
	color:#FFFFFF;
	font-size: 16px;
	padding: 1em;
}

#menu_basic a:hover {
	color: #0a2351;
}

[id^="dog"] {
	width: 25%;
	height: 25%;
	vertical-align: top;
}

[id$="gender"], [id$="breed"]{
	width: 60%;
}

[id^="accept_friend_btn"] {
	display: block;
	margin-top: 2%;
}

#friend_request_list [id^="req"], #friend_list [id^="f"], #event, #goal {
	margin-top: 2%;
    border: 2px solid grey;
    padding-bottom: 1%;
    border-radius: 25px;
}

#event {
	margin-left: 20px;
}

#friend_list img {
	width: 25%;
	height: inherit;
}

#friend_request_list [id^="req"] .row div {
	height: 50%;
}

#friend_request_list [id^="friends"] {
	font-weight:bold;
	color: #007BFF;
	margin-left: 1%;
	font-size: larger;
}

#friend_request_list [id^="friends"] i {
	color: #007BFF;
	font-size: larger;
}

[id^="infoDog"] p {
	display: inline-block;
}

[id^="infoDog"] {
	display: inline-block;
}

*{
	font-family: 'Open Sans', sans-serif;
}

#register h1 {
	display: block;
}

#register form + div p {
	text-align: center;
}

#login_form div {
	padding-top: 10%;
	margin: 0 auto;
	width: 80%;
}

#login_form + div {
	padding-top: 10%;
}

#login_form {
	text-align: center;
}

#img_logo {
	width: 100%;
	height:400px;
}

#visitorInfo {
	padding: 1%;
}

#people_list h5 {
	font-size: 18px;
	font-weight: bolder;
}

#mypark a {
	color: #FFFFFF;
}

#mypark a:hover {
	text-decoration: transparent;
}

#mypark .row a {
	font-size:20px;
}

[id^=add_friend_btn] {
	display: block;
	margin-top: 1rem;
}

#people_list [id^="dogPic"], #friend_request_list [id^="dogPic"] {
	width: 50%;
	height: inherit;
}

form#register_form input {
    display: flex;
}

form#register_form input {
    display: inline-block;
    margin: 0 auto;
    border: 2px solid #007BFF;
    border-radius: 5px;
	width: 60%;
	height: 35px;
}

.custom-select{
    border: solid 3px #007BFF;
    display: block;
    margin: 0 auto;
}

form#register_form span {
    display: block;
}

form#register_form input.btn {
    border: none;
	display: block;
	width: 40%;
	margin-top: 2%;
	height: 60px;
}

#registeration_form p label {
	font-size: 16px;
	font-weight: bolder;
	width: 50%;
}

#id_num_dogs {
	width: 60%;
}

form#register_form p {
	text-align:center;
}

div#prof table {
	box-shadow: 0px 0px 0px 1px inset;
	padding: 1%;
	margin: 1%;
}

div#prof div input {
	text-align: center;
    display: block;
}

div#prof div label {
	display: block;
	text-align: center;
}

label[for=id_num_dogs] {
	width: 60% !important; 
}

#prof, #userinfo {
	margin: 0 auto;
	text-align: center;
	padding: 5px;
	border: 1px solid #007BFF;
	margin-bottom: 20px;
}

#prof label{
	display: block;
}

#prof fieldset {
	border: 2px groove threedface;
	padding: 10px;
}

#prof legend {
	width: 20%;
}

@media only screen and (max-width: 768px) {
	[id^="dogPic"] {
		width: 30%;
		height: 50%;
	}
}

[id^="successful_request"] {
	font-weight: bold;
	color: #007BFF;
}

#people_list i  {
	color: #007BFF;
}

.desc {
	margin-top: 2%;
	font-size: large;
	font-weight: bold;
}

[id^="attending_event"].showing {
	display: inline-block;
}

[id^="attending_event"] + i {
	color: #007BFF;
}

[id^="attending_event"], [id^="goal_completed"] {
	color: #007BFF;
}

[id^="attending_event"] + i.showing {
	display: inline-block;
}

.date {
	font-weight: small;
}

i.fa.fa-star-o {
    font-size: xx-large;
}

.modal-body {
	text-align: center;
}