<!DOCTYPE html>
{% load static %}

<html>
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>
            {% block title_block %}
                Dogpark
            {% endblock %}
        </title>
       
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" media="screen" href="{% static 'css/base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,800&display=swap" rel="stylesheet">
        {% block header_block %}
        {% endblock %}
    </head>
    <body>
        <main role="main">
            <nav id="menu_basic" class="navbar navbar-dark navbar-expand-lg bg-primary">
                    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#content-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="content-navbar-collapse"> 
                        <ul class="nav navbar-nav pull-left mr-auto">
                            <li><a class="nav-link" href={% url 'dogpark:index' %}>Homepage</a></li>
                            <li><a class="nav-link" href={% url 'dogpark:logout' %}>Logout</a></li>
                        </ul>
                    </div>
            </nav>
            {% block body_block %}
            
            {% endblock %}
        </main>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="{% static "js/jquery-min.js" crossorigin="anonymous" %}"></script>
        <script src="{% static "js/dogpark-ajax.js" %}"></script>
    </body>
</html>