{% extends 'dogpark/map.html' %}

{% load staticfiles %}

{% block title_block %}
dogpark
{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
    {% include 'dogpark/navbar.html' %}
    <div class="contianer" id="greet_notify_visitinfo">
        <div class="d-flex flex-row justify-content-center align-content-center" id="greeting">
            <h3>Hi {{u}} !</h3>
        </div>
        <div>
            <img id="img_logo" src="{% static 'images/CessnockPacific.jpeg' %}" alt="Picture of mypark"/>
        </div>
        <div class="d-flex flex-row justify-content-center align-content-center" id="visitorInfo">
            <h5 class="col-sm-12 col-md-12 col-lg-12 text-center" >There are {{visitors}} active dogs at the park!</h5>
        </div>
        <div class="d-flex flex-row justify-content-center text-center" id="notification">   
                {% if my_checked_in_friends %}
                    {% if my_checked_in_friends|length == 1 %}
                        <h5>Your friend&#160</h5>
                        <h5>{{my_checked_in_friends.0.first_name}} {{my_checked_in_friends.0.last_name}}</h5>
                        <h5>&#160is currently playing</h5>
                    {% else %}
                        {% for item in my_checked_in_friends %}
                            <h5>Your friends&#160</h5>
                            {% if forloop.last %}
                                <h5>and&#160{{item.first_name}} {{item.last_name}}</h5>
                            {% else %}
                                <h5>&#160{{item.first_name}} {{item.last_name}}&#44&#160</h5>
                            {% endif %}
                        {% endfor %}
                        <h5>&#160are currently playing/h5>
                    {% endif %}
                {% else %}
                    <h5>None of your friends are at the park at the moment</h5>
                {% endif %}
        </div>
        <div class="col-sm-12 col-xs-12  justify-content-center d-flex" id="btns">
            <div class="white-shade">
                <a class="col-sm-6 col-xs-6" href="{% url 'dogpark:mypark' %}">My park</a>
                <a class="col-sm-6 col-xs-6" href="{% url 'dogpark:my_pet' %}">My pet</a>
                <a class="col-sm-6 col-xs-6" href="#">Settings</a>
            </div>
        </div>
    <div>
    {% else %}
    <div class="container-fluid d-flex justify-content-center" id="register">
        <div>
            <h1 class="text-center">Please login or register</h1>
            <form id="login_form" method="post" action="{% url 'dogpark:login' %}">
                <div class="form-group">
                    {% csrf_token %}
                    Username: <input type="text" name="username" value="" class="form-control" size="50" placeholder="Enter email"/><br />
                    Password: <input type="password" name="password" value="" class="form-control"size="50" placeholder="Enter password"/><br />
                    <input class="btn btn-primary" type="submit" name="submit" value="Login"/>
                </div>
            </form>
            <div>
                <p>Want to register?</p>
                <p>
                    <a href="{% url 'dogpark:register' %}">Register</a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}