{% extends 'dogpark/map.html' %}

{% load staticfiles %}

{% block title_block %}
dogpark
{% endblock %}

{% block body_block %}
    {% include 'dogpark/navbar.html' %}
    <div class="container-fluid" id="mypark">
        <div class="row">
            <img id="img_logo" src="{% static 'images/CessnockPacific2.jpeg' %}" alt="Picture of mypark"/>
        </div>
        {% if checked_in %}
        <div class="row white-shade" id="checked_in_status">
                <button class="btn hidden" id="checkIn" class="hidden">Check in</button>
                <button class="btn" id="checkOut" data-toggle="modal" data-target="#ratingModal">Check out</button>
        </div>
        {% else %}
        <div class="row white-shade" id="checked_in_status">
                <button class="btn" id="checkIn">Check in</button>
                <button class="btn hidden" id="checkOut" data-toggle="modal" data-target="#ratingModal">Check out</button>
        </div>
        {% endif %}
        <div class="row" id="btns">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <a class="btn d-inline-block" id="park-events"  href="{% url 'dogpark:park_events' %}">Park Events</a>
                <a class="btn d-inline-block" id="park-goals" href="{% url 'dogpark:park_goals' %}">Park Goals</a>
            </div>
        </div>
        <div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ratingModalLabel">Rate your experience</h5>
                        <button id="ratingClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-2">
                            <i class="fas fa-star" aria-hidden=true></i>
                            <label for="star1">1</label>
                            <input type="radio" id="star1" name="rate" value="1" data-dismiss="modal" aria-label="Close"/>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-star" aria-hidden=true ></i>
                            <label for="star2">2</label>
                            <input type="radio" id="star2" name="rate" value="2" data-dismiss="modal" aria-label="Close"/>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-star" aria-hidden=true></i>
                            <label for="star3">3</label>
                            <input type="radio" id="star3" name="rate" value="3" data-dismiss="modal" aria-label="Close"/>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-star" aria-hidden=true></i>
                            <label for="star4">4</label>
                            <input type="radio" id="star4" name="rate" value="4" data-dismiss="modal" aria-label="Close"/>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-star" aria-hidden=true></i>
                            <label for="star5">5</label>
                            <input type="radio" id="star5" name="rate" value="5" data-dismiss="modal" aria-label="Close"/>          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}