{% extends 'dogpark/base.html' %}
{% load static %}
{% block title_block %}
    search people
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}
        <div class="container" id="my_pet">
            {% for item in my_pets %}
                <p>{{item.name}} is {{item.age}} years old {{item.gender}} {{item.breed}}</p>
                <img src={% static 'images/puppy.jpg' %} />
                <button>Edit</button>
                <button>Delete</button>
            {% empty %}
                <p class="text-center"> There was some problem with your registeration, you do not have any pets added !</p>
            {% endfor %}
        </div>
{% endblock %}