{% extends 'dogpark/base.html' %}
{% load static %}
{% block title_block %}
    search people
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}
        <div class="container" id="mypark">
            <img id="img_logo" src="{% static 'images/placeholder.png' %}" alt="Picture of mypark"/>
            <a href="check_in">Check in</a>
            <a href="check_out" class="hidden">Check out</a>
            <a href="{% url 'dogpark:park_events' %}">Park Events</a>
            <a href="{% url 'dogpark:park_goals' %}">Park Goals</a>
            <!--<button id="park_events">Park Events</button>
            <button id="park_goals">Park Goals</button>-->
        </div>
{% endblock %}