{% extends 'dogpark/map.html' %}
{% load static %}
{% block title_block %}
    My Park
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}
{% include 'dogpark/navbar.html' %}
    <div class="container" id="park">
        <h5 class="text-center">Your dog park is Cessnock Pacific</h5>
        <div class="d-flex flex-row justify-content-center align-content-center" id="map">
            <div id="map_canvas" class="container"></div>
        </div>
    </div>
{% endblock %}