{% extends 'dogpark/base.html' %}
{% load static %}
{% block title_block %}
    Events
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}
        <div class="container" id="Events">
            <div class="row d-flex justify-content-center">
            {% for item in events %}
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="event">
                <p id="desc">{{item.name}}</p>
                <p class="date">{{item.date}} {{item.time}}</p>
                {% if item.attending %}
                    <button class= "btn btn-primary hidden" id="attend_event{{forloop.counter0}}" data-elmid="{{item.id}}">Attend</button>
                    <p id="attending_event{{forloop.counter0}}" class="showing">Attending</p>
                    <i class="fa fa-check showing" id="confirm{{forloop.counter0}}"></i>
                    <button class="btn btn-primary pull-right" id="decline_event{{forloop.counter0}}" data-elmid="{{item.id}}">Decline</button>
                {% else %}
                    <button class="btn btn-primary" id="attend_event{{forloop.counter0}}" data-elmid="{{item.id}}">Attend</button>
                    <p id="attending_event{{forloop.counter0}}" class="hidden">Attending</p>
                    <i class="fa fa-check hidden" id="confirm{{forloop.counter0}}"></i>
                    <button class="btn btn-primary pull-right hidden" id="decline_event{{forloop.counter0}}" data-elmid="{{item.id}}">Decline</button>
                {% endif %}
            </div>
            {% endfor %}
            </div>
        </div>
{% endblock %}