{% extends 'dogpark/map.html' %}
{% load static %}
{% block title_block %}
    search people
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}
        {% include 'dogpark/navbar.html' %}
        <div class="container" id="people_list">
        {% for item in my_list %}
            <div id="u{{forloop.counter0}}" class="container">
                <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12">
                    <h5>Owner's name: {{item.0.first_name}} {{item.0.last_name}}</h5>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12">
                    <p>I have {{item.2}} dogs</p>
                </div>
                <div class="row">
                {% for dog in item.1 %}
                    <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12">
                        {% if dog.picture %}
                            <img  id="dogPic{{forloop.counter0}}" src= "{{dog.picture.url}}" class="col-md-4 col-sm-12"/>
                        {% else %}
                            <img id="dogPic{{forloop.counter0}}" src={% static 'images/puppy.jpg' %} class="col-md-4 col-sm-12"/>
                        {% endif %}
                            <p class="d-inline-block col-md-7 col-sm-12">{{ dog }} </p>
                    </div>
                {% empty %}

                {% endfor %}
                </div>
                <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12">
                    <button class="btn btn-primary" id="add_friend_btn{{forloop.counter0}}" data-uname={{item.0.username}}>Add Friend</button>
                    <p id="successful_request{{forloop.counter0}}" class="hidden">Friend request sent</p>
                    <i class="fa fa-check hidden" id="confirm{{forloop.counter0}}"></i>
                </div>
            </div>
            <hr/>      
        {% empty %}
            <p>There is nothing to show here. Either you have already sent or received request or are friends already.</p>
        {% endfor %}
        </div>
{% endblock %}