{% extends 'dogpark/base.html' %}

{% load staticfiles %}

{% block title_block %}
dogpark
{% endblock %}

{% block body_block %}
    {% if registered %}
        <h6>Thank you for registering</h6>
        <a href="{% url 'dogpark:index'%}"> Return to home </a>
    {% else %}
    <h6>Register</h6>
    <div class="container text-sm-center" id="registeration_form">
        <form id="register_form" method="post" action="{%url 'dogpark:register' %}">
            {% csrf_token %}
            {{ user_form.as_p }}
            <div id="prof">
                {{profile_form.as_p}}
            </div>
            <input type="submit" name="submit" value="Register"/>
        </form>
    </div>
    {% endif %}
{% endblock %}