{% extends 'dogpark/base.html' %}
{% load static %}
{% block title_block %}
    search people
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}
        <div class="container" id="friend_request_list">
        {% if incoming_requests|length > 1 %}
            {% for item in incoming_requests %}
                <div id="req{{forloop.counter0}}">
                    <p>{{item.first_name}} {{item.last_name}}</p>
                    <button id="accept_friend_btn{{forloop.counter0}}" data-uname={{item.username}}>Accept Friend</button>
                </div>
            {% endfor %}
        {% else %}
            <div id="req0">
                <p>{{incoming_requests.sender.first_name}} {{incoming_requests.sender.username}}</p>
                <button id="accept_friend_btn{{forloop.counter0}}" data-uname={{incoming_requests.sender.username}}>Accept Friend</button>
            </div>
        {% endif %}
        </div>
{% endblock %}